#start {
    display: none;
    background-image: url(start.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 45vw;
    margin: auto;
    position: absolute;
}

#settings {
    display: none;
    background-image: url(settings.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 45vw;
    margin: auto;
    position: absolute;
}

#gameover {
    display: none;
    background-image: url(gameover.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 45vw;
    margin: auto;
    position: absolute;
}

#levelcomplete {
    display: none;
    background-image: url(levelcomplete.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 45vw;
    margin: auto;
    position: absolute;
}

#screen {
    position: relative;
}


#baggrund {
    background-image: url(baggrund.svg);
    background-size: cover;
    width: 80vw;
    height: 45vw;
    margin: auto;
}

#risengroed {
    background-image: url(risengroed.svg);
    background-repeat: no-repeat;
    width: 80vw;
    height: 45vw;
    position: absolute;
    top: 0.1vw;
    left: 10vw;
    z-index: 1;
}

#kat {
    background-image: url(kat.svg);
    background-repeat: no-repeat;
    width: 80vw;
    height: 45vw;
    position: absolute;
    top: 6vw;
    left: 40vw;
}

#graa_rotte {
    background-image: url(graa_rotte.svg);
    background-repeat: no-repeat;
    width: 80vw;
    height: 45vw;
    position: absolute;
    top: 3vw;
    left: 14vw;
}

#beige_rotte {
    background-image: url(beige_rotte.svg);
    background-repeat: no-repeat;
    width: 80vw;
    height: 45vw;
    position: absolute;
    top: 4vw;
    left: -2vw;
}

#time {
    background-image: url(time.svg);
    background-repeat: no-repeat;
    width: 80vw;
    height: 45vw;
    position: absolute;
    top: -12vw;
    left: -9.6vw;
}

#energy {
    background-image: url(energy.svg);
    background-repeat: no-repeat;
    width: 80vw;
    height: 50vw;
    position: absolute;
    top: -5vw;
    left: -16vw;
}

#points {
    background-image: url(points.svg);
    background-repeat: no-repeat;
    width: 80vw;
    height: 50vw;
    position: absolute;
    top: -15.5vw;
    left: 46vw;
}
