* {
    margin: 0;
}

#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;
}

#start {
    background-image: url(baggrundtitel.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
}

#nisse {
    background-image: url(nisse.svg);
    background-repeat: no-repeat;
    width: 80vw;
    height: 45vw;
    position: absolute;
    top: 14vw;
    left: -1vw;
    z-index: 1;
}

#nissearm {
    background-image: url(nissearm.svg);
    background-repeat: no-repeat;
    width: 80vw;
    height: 45vw;
    position: absolute;
    top: 14vw;
    left: -1vw;
    z-index: 1;
}

.updown {
    animation-name: updown_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    transform-origin: 14% 55%;
}

@keyframes updown_kf {
    0% {
        transform: rotate(-35deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#kattitel {
    background-image: url(kattitel.svg);
    background-repeat: no-repeat;
    width: 60vw;
    height: 33.25vw;
    position: absolute;
    top: 29vw;
    left: 73.5vw;
    z-index: 1;
}

#kattitelhale {
    background-image: url(kattitelhale.svg);
    background-repeat: no-repeat;
    width: 60vw;
    height: 33.25vw;
    position: absolute;
    top: 29vw;
    left: 73.5vw;
    z-index: 1;
}

#playknap {
    background-image: url(playknap.svg);
    background-repeat: no-repeat;
    width: 30vw;
    height: 22.5vw;
    position: absolute;
    top: 39vw;
    left: 42vw;
    z-index: 1;
}

#graarottehop {
    background-image: url(graarottehop.svg);
    background-repeat: no-repeat;
    width: 30vw;
    height: 22.5vw;
    position: absolute;
    top: 13vw;
    left: 44vw;
    z-index: 1;
}

#beigerottetitel {
    background-image: url(beigerottetitel.svg);
    background-repeat: no-repeat;
    width: 30vw;
    height: 20vw;
    position: absolute;
    top: 8vw;
    left: 33vw;
    z-index: 1;
}

#graarottetitel {
    background-image: url(graarottetitel.svg);
    background-repeat: no-repeat;
    width: 30vw;
    height: 22.5vw;
    position: absolute;
    top: 9.5vw;
    left: 54vw;
    z-index: 1;
}

#settingsknap {
    background-image: url(settingsknap.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 47vw;
    left: -1vw;
    z-index: 1;
}

#settings {
    text-align: center;
    position: absolute;
    width: 60vw;
    height: 45vw;
    background-color: rgba(25, 64, 18, 0.82);
    border: 5px solid white;
    z-index: 1;

    top: 5vw;
    left: 20vw;
    border-radius: 2vw;
    color: white;
}

#gameover {
    background-image: url(gameover.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 10vw;
    left: 1vw;
}

#gameover #spil_igen_knap {
    background-image: url(spil_igen_knap.svg);
    background-repeat: no-repeat;
    background-size: 25vw;
    width: 25vw;
    height: 6vw;
    position: absolute;
    top: 24vw;
    left: 48vw;
}

#gameover #stopspil_knap {
    background-image: url(stopspil_knap.svg);
    background-repeat: no-repeat;
    background-size: 13vw;
    width: 13vw;
    height: 6vw;
    position: absolute;
    top: 24vw;
    left: 30vw;
}

#levelcomplete {
    background-image: url(levelcomplete.svg);
    background-repeat: no-repeat;
    background-size: 80vw;
    width: 100vw;
    height: 56vw;
    position: absolute;
    top: 8vw;
    left: 17vw;
}

#levelcomplete #spil_igen_knap {
    background-image: url(spil_igen_knap.svg);
    background-repeat: no-repeat;
    background-size: 25vw;
    width: 25vw;
    height: 6vw;
    position: absolute;
    top: 27.5vw;
    left: 31vw;
}

#levelcomplete #stopspil_knap {
    background-image: url(stopspil_knap.svg);
    background-repeat: no-repeat;
    background-size: 12vw;
    width: 12vw;
    height: 5vw;
    position: absolute;
    top: 27.7vw;
    left: 13vw;
}

.hide {
    display: none;
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

.jump {
    animation-name: jump_kf;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

@keyframes jump_kf {
    0% {
        transform: translate(0vw, 0vw);
    }

    100% {
        transform: translate(2vw, 25vw);
    }
}

.jumpupdown {
    animation-name: jumpupdown_kf;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

@keyframes jumpupdown_kf {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-4vw);
    }
}

#baggrund {
    background-image: url(baggrund.svg);
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
}

#risengroed {
    background-image: url(risengroed.svg);
    background-repeat: no-repeat;
    width: 85vw;
    height: 27vw;
    position: absolute;
    top: 30.3vw;
    left: 6vw;
}

.figur1 {
    background-image: url(beige_rotte.svg);
    background-repeat: no-repeat;
    width: 18vw;
    height: 18vw;
    position: absolute;
}

.figur2 {
    background-image: url(graa_rotte.svg);
    background-repeat: no-repeat;
    width: 18vw;
    height: 18vw;
    position: absolute;
}

.figur3 {
    background-image: url(kat.svg);
    background-repeat: no-repeat;
    width: 18vw;
    height: 18vw;
    position: absolute;
}

.place1 {
    top: 36vw;
    left: 15vw;
}

.place2 {
    top: 36vw;
    left: 38vw;
}

.place3 {
    top: 36vw;
    left: 60vw;
}

.move {
    animation-name: translate_kf;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes translate_kf {
    50% {
        transform: translateY(-20vw);
    }

    100% {
        transform: translateY(0vw);
    }
}

#time {
    position: absolute;
    left: 12vw;
    top: 2vw;
    font-size: 2rem;
}

#energy {
    position: absolute;
    top: 0vw;
    left: 0vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    */
}

.star {
    background-image: url(star.svg);
    background-repeat: no-repeat;
    width: 4.5vw;
    height: 4.5vw;
}

#points {
    position: absolute;
    left: 83.5vw;
    top: 7vw;
    font-size: 2rem;
}
