#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;
}

#start {
    background-image: url(baggrundtitel.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
}

#nisse {
    background-image: url(nisse.svg);
    background-repeat: no-repeat;
    width: 80vw;
    height: 45vw;
    position: absolute;
    top: 14vw;
    left: -1vw;
    z-index: 1;
}

#nissearm {
    background-image: url(nissearm.svg);
    background-repeat: no-repeat;
    width: 80vw;
    height: 45vw;
    position: absolute;
    top: 14vw;
    left: -1vw;
    z-index: 1;
}

.updown {
    animation-name: updown_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    transform-origin: 14% 55%;
}

@keyframes updown_kf {
    0% {
        transform: rotate(-35deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#kattitel {
    background-image: url(kattitel.svg);
    background-repeat: no-repeat;
    width: 60vw;
    height: 33.25vw;
    position: absolute;
    top: 29vw;
    left: 73.5vw;
    z-index: 1;
}

#kattitelhale {
    background-image: url(kattitelhale.svg);
    background-repeat: no-repeat;
    width: 60vw;
    height: 33.25vw;
    position: absolute;
    top: 29vw;
    left: 73.5vw;
    z-index: 1;
}

#playknap {
    background-image: url(playknap.svg);
    background-repeat: no-repeat;
    width: 30vw;
    height: 22.5vw;
    position: absolute;
    top: 39vw;
    left: 42vw;
    z-index: 1;
}

#graarottehop {
    background-image: url(graarottehop.svg);
    background-repeat: no-repeat;
    width: 30vw;
    height: 22.5vw;
    position: absolute;
    top: 13vw;
    left: 44vw;
    z-index: 1;
}

#beigerottetitel {
    background-image: url(beigerottetitel.svg);
    background-repeat: no-repeat;
    width: 30vw;
    height: 20vw;
    position: absolute;
    top: 8vw;
    left: 33vw;
    z-index: 1;
}

#graarottetitel {
    background-image: url(graarottetitel.svg);
    background-repeat: no-repeat;
    width: 30vw;
    height: 22.5vw;
    position: absolute;
    top: 9.5vw;
    left: 54vw;
    z-index: 1;
}

#settings {
    background-image: url(settings.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
}

#gameover {
    background-image: url(gameover.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
}

#levelcomplete {
    background-image: url(levelcomplete.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
}

.hide {
    display: none;
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

.jump {
    animation-name: jump_kf;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

@keyframes jump_kf {
    0% {
        transform: translate(0vw, 0vw);
    }

    100% {
        transform: translate(2vw, 25vw);
    }
}

.jumpupdown {
    animation-name: jumpupdown_kf;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

@keyframes jumpupdown_kf {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-4vw);
    }
}

#baggrund {
    background-image: url(baggrund.svg);
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
}

#risengroed {
    background-image: url(risengroed.svg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 0.1vw;
    left: 1vw;
}

#kat {
    background-image: url(kat.svg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 6vw;
    left: 37vw;
}

.op_kat {
    animation-name: translate_kf;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-delay: 1s;
}

#graa_rotte {
    background-image: url(graa_rotte.svg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 3vw;
    left: 6vw;
}

.op_grotte {
    animation-name: translate_kf;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

#beige_rotte {
    background-image: url(beige_rotte.svg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 4vw;
    left: -12vw;
}

.op_brotte {
    animation-name: translate_kf;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-delay: 2s;
}

@keyframes translate_kf {
    0% {
        transform: translateY(15vw);
    }

    50% {
        transform: translateY(0vw);
    }

    100% {
        transform: translateY(15vw);
    }
}



#time {
    background-image: url(time.svg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: -15vw;
    left: -23vw;
}

#energy {
    background-image: url(energy.svg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: -3vw;
    left: -29vw;
}

#points {
    background-image: url(points.svg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.26vw;
    position: absolute;
    top: -17.3vw;
    left: 46vw;
}
